.form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.valid{
  background-color: black;
  color: white;
}

.invalid{
  background-color: lightgrey;

  float: right;
}
  
  .google_btn{
    background-color: #DE5233;
    color: white;
    width: 100%;
  }
  .fb_btn{
    background-color: #4267b2;
    color: white;
    width: 100%;
  }
  .fortytwo_btn{
    // background-color: lightgrey;
    color: white;
    width: 100%;
  }
