<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>{{apptitle}}<span style="width : 50px"> <img style="height : 30px; float: right" src="../assets/03.png" ></span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">Home</a>
      <a mat-list-item [routerLink]="[{ outlets: { home: ['users'] } }]">Users</a>
      <a mat-list-item [routerLink]="[{ outlets: { home: ['feedback'] } }]">Feedback</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/about'">About</a>
      <a mat-list-item [routerLink]="[{ outlets: { home: ['settings'] } }]">Settings</a>
      <a mat-list-item [routerLink]="''">Logout</a>
      <a mat-list-item [routerLink]="'/login'">Login (demo)</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span class="spacer"></span>
      <div class="topnav">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle style="font color: white" value="bold">EN</mat-button-toggle>
        <mat-button-toggle value="italic">FR</mat-button-toggle>
      </mat-button-toggle-group>
       </div>
    </mat-toolbar>
    <!-- Add Content Here -->
        
    <section>
    <!-- where routed components will appear-->
      <router-outlet name="home"></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
