<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar >{{apptitle}}<span style="width : 50px"> <img style="height : 30px; float: right" src="../assets/03.png" ></span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">Home</a>
      <a mat-list-item [routerLink]="[{ outlets: { home: ['users'] } }]">Users</a>
      <a mat-list-item [routerLink]="[{ outlets: { home: ['feedback'] } }]">Feedback</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/about'">About</a>
      <a mat-list-item [routerLink]="[{ outlets: { home: ['settings'] } }]">Settings</a>
      <a mat-list-item [routerLink]="''">Logout</a>
      <a mat-list-item [routerLink]="'/login'">Login (demo)</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      
      <div class="topnav">
          <!-- Add Navbar Content Here -->
        <mat-form-field style="width:70%;" floatLabel="never">
          <input matInput placeholder="Search">
        </mat-form-field>
          <!-- <a href="#"><mat-icon>search</mat-icon></a> -->
       </div>
    </mat-toolbar>
    <mat-progress-bar
      *ngIf="loading" color="accent" mode="indeterminate">
    </mat-progress-bar>
            
    <section>
    <!-- where routed components will appear-->
      <router-outlet name="home"></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
