  <div class="border">
    <span style="height : 10px;"> </span>
    <img class="dp" *ngIf="user.avatar" src="{{user.avatar}}">
    <img class="dp" *ngIf="!user.avatar" src="../assets/04.png">
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="user.verified"> Verified</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!user.verified"> Not Verified</mat-card-subtitle>
   <a *ngIf="!user.verified" [routerLink]="'/verifyemail'">Re-send verification email</a>
    <!-- <a [routerLink]="'/verifyemail'">Re-send verification email</a> -->
  </div>
<div class="border">
  <form [formGroup]="profileform">
    <!--
    Value:{{profileform.value | json}} 
    <hr>
    --> 
   
    <mat-form-field appearance="standard" style="width:100%;">
      <mat-label>Update email address</mat-label>
      <input autocomplete="email" matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="email.value == ''"> Please enter email </mat-error>
      <mat-error *ngIf="email.invalid && email.value"> Your email does not look right </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" style="width:100%;">
      <mat-label>Update username</mat-label>
      <input matInput formControlName="name" placeholder="Username">
      <mat-error *ngIf="name.value == ''"> Please enter username </mat-error>
      <mat-error *ngIf="name.invalid && name.value"> Your username does not look right </mat-error>
    </mat-form-field>
    <br><br>
    <div style="margin-left: auto; margin-right: auto;width : 100%">
      
      <button mat-flat-button (click)="resetform()" style="float:left">Reset fields</button>
      <button [disabled]="!profileform.valid" (click)="update()"  color="primary" style="background-color: lightgrey; float:right" mat-button>Update</button>
    </div>
    <br><br>
    <!--
    <button mat-raised-button (click)="setpass()">Change Password</button>
    
    <div *ngIf= "changedpass" >
      <mat-form-field appearance="standard" style="width:80%;">
        <mat-label>Password</mat-label>
        <input autocomplete="password" matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.value == ''"> Please enter password </mat-error>
            <mat-error *ngIf="password.invalid && password.value"> Your password does not look right </mat-error>
            <mat-hint> Must be at least 8 characters long </mat-hint>
      </mat-form-field>
    
      <mat-form-field appearance="standard" style="width:80%;">
        <mat-label>Confirm</mat-label>
        <input matInput type="confirm" matInput type="password" formControlName="confirm" placeholder="Confirm password">
            <mat-error *ngIf="signupform.hasError('notSame')"> Passwords do not match </mat-error> 
             <mat-error *ngIf="confirm.value == ''"> Please confirm password </mat-error>
             <mat-error *ngIf="signupform.controls.confirm.errors?.checkPasswords && confirm.value"> Passwords do not match </mat-error>
      </mat-form-field>

    </div>
    -->
  </form>


</div>
