<mat-card > 

<div *ngIf = "!sent" class="border">
  <mat-card-title>Verify email address</mat-card-title>
  <mat-card-subtitle> To continue, please verify your email address</mat-card-subtitle>
  <button mat-flat-button style="background-color: LightGray; " (click)="verifyEmail()"> Send Verification Email </button>
</div>

<div *ngIf = "sent" class="border">
  <mat-card-title>Verification email sent!</mat-card-title>
  <mat-card-subtitle> {{message}} {{emailaddress}}</mat-card-subtitle>
  <button  mat-stroked-button [routerLink]="'/login'">
      Continue to login
      <img style= "height : 20px;" src="assets/01.png"> 
  </button>

</div>
