<mat-card > 

<div *ngIf = "!sent" class="border">
  <mat-card-title>Verify email address</mat-card-title>
  <mat-card-subtitle> To continue, please verify your email address</mat-card-subtitle>
  <button mat-flat-button style="background-color: LightGray; " (click)="verifyEmail()" >Send Verification Email </button>
</div>

<div *ngIf = "sent" class="border">
  <mat-card-title>Verification email sent!</mat-card-title>
  <mat-card-subtitle> A verification email was sent to {{emailaddress}}</mat-card-subtitle>
</div>
</mat-card>
